/* Import fonts: Quicksand and Roboto Mono of various weights */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Mono:wght@300;400;600&display=swap');

/* App width */
.limit-width{
  max-width: 100vw;
  padding-left: 10%;
  padding-right: 10%;
}

/* Custom background sections */
.purple-diagonal {
  text-align: center;
  /* background-image: url('./assets/bg-1.png');
  background-position-x: 60%;
  background-position-y: -120%; */
  /* background-repeat: no-repeat; */
  background-color: rgba(237, 106, 110, .3);
  color: black;
  font-family: 'FoundersGrotesk';
}
.purple-curves{
  background-image: url('./assets/bg-2.png');
  background-repeat: no-repeat;
  /* background-position-y: -250px; */
  background-size: 100% 100% ;
}
.bg-white{
  background: white;
}
.bg-pink{
  background-color: #ff6b6c;
}

/* Text colours */
.text-white{
  color: white;
}
.text-decoration-none{
  text-decoration: none;
}
.text-black{
  color: black;
}
.text-grey{
  color: #737373;
}

/* Easy to use flexbox classes */
.flex-col{
  display: flex;
  flex-direction: column;
}
.col-right{
  align-items: right;
  justify-content: flex-end;
}
.col-left{
  align-items: left;
  justify-content: flex-start;
}
.flex-row{
  display: flex;
  width: 100%;
}
.align-start{
  align-items: flex-start;
}
.space-between{
  justify-content: space-between;
}
.center{
  justify-content: center;
  align-items: center;
}

/* buttons for app store*/

.store-button{
  border: none;
  outline: none;
  max-width: 40%;
}

/* Fundder styled components in the form of .fundder-<use> */
.fundder-button{
  border: none;
  outline: none;
  background: white;
  color: #ff6b6c;
  font-size: 2.2em;
  font-weight: 600;
  font-family: 'FoundersGrotesk';
  width: auto;
  padding: 0.3em 1em;
  border-radius: 0.4em;
}
.fundder-button:hover{
  color: white;
  background: #ff6b6c;
  /* opacity: 0.7; */
  border: 2px solid white;
  margin-bottom: -4px;
  outline: none
}
.fundder-body{
  font-weight: 400;
  font-size: 1.4em;
  letter-spacing: 0.02em;
}
#fundder-nav-link{
  color: black;
  font-family: 'FoundersGrotesk';
  font-weight: 400;
  font-size: 1.1em;
}
#fundder-nav-link:hover{
  color: #ff6b6c;
  font-family: 'FoundersGrotesk';
  font-weight: 400;
  font-size: 1.1em;
}
.fundder-nav-title{
  font-family: 'FoundersGrotesk';
  font-weight: 500;
  font-size: 1.8em;
}
.fundder-footer-heading{
  font-family: 'FoundersGrotesk';
  font-weight: 400;
  font-size: 1em;
}
.fundder-title{
  font-family: 'FoundersGrotesk';
  font-weight: 700;
  font-size: 2.5em;
}
.fundder-section-title{
  font-family: 'FoundersGrotesk';
  font-weight: 400;
  font-size: 1.6em;
}
.fundder-section-subtitle{
  /* text-transform: uppercase; */
  letter-spacing: 0.02em;
  font-size: 1.2em;
  font-weight: 600;
}
.fundder-small{
  font-size: 1.1em;
}
.roboto-mono{
  font-family: 'Roboto Mono', monospace;
}

/* Custom CSS for the benefit list section */
.benefit{
  text-align: left;
 }
 .benefit-p-sizing{
   max-width: 30vw;
 }

/* Custom CSS for images which should become smaller on mobile */
.resizable-image{
  width: 100%;
  max-width: 100%;
}

.email-form{
  font-family: 'FoundersGrotesk';
  font-weight: 400;
}

.footer-image{
  max-width: 10%;
  height: auto;
}

/* Shrink text and reduce padding between breakpoints to avoid content overlap */
@media(max-width: 1200px){
  .fundder-title{
    font-size:2.5em;
  }
  .fundder-nav-title-text{
    display: none;
  }
  .fundder-nav-logo{
    height: 80%;
  }
  #fundder-nav-link, .fundder-body{
    font-size: 1.2em;
  }
  .fundder-button{
    font-size: 1.8em;
  }
  #fundder-nav-link{
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 800px) { 
  
  .purple-curves{
    background-color: #ff6b6c;
  }
  .footer-image{
    max-width: 20%;
  }
 }
 @media (max-width: 768px) { 

  #fundder-title-block{
    text-align: center !important;
    padding: 0 0 5vh 0;
  }
  
  .benefit{
    text-align: center;
  }
  .benefit-p-sizing{
    max-width: 75vw;
    text-align: left;
  }
  .resizable-image{
    width: 80%;
    max-width: 80%;
  }

  .demo-phone{
    max-width: 60vw;
  }
 }

.py-panel{
  padding-bottom: 12vh !important;
  padding-top: 6vh !important;
}

@media (min-width: 768px) {

  .demo-phone{
    max-width: 30vw;
  }

}

.double-lines{
  line-height: 2;
}

.clear-list{
  list-style-type: none;
}

